@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");

label,
#toggle {
  font-weight: 800;
  user-select: none;
}

#toggle {
  display: none;
}

.language-toggle {
  padding: 10px 5px;
  border-radius: 5px;
  position: absolute;
  top: -50px;
  background-color: hsl(217, 19%, 24%);
}

.toggle-switch {
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.2s;
  color: white;
}

#toggle:checked + .toggle-switch.en {
  background: hsl(220, 23%, 5%);
}

#toggle:not(:checked) ~ .toggle-switch.ar {
  background: hsl(220, 23%, 5%);
}

@media (max-height: 880px) {
  .language-toggle {
    position: static;
  }
}
