@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --primer-color: hsl(218, 23%, 16%);
  --second-color: hsl(150, 100%, 66%);
}

body {
  background-color: var(--primer-color);
}

.adviceContainer {
  padding: 20px;
  background-color: hsl(217, 19%, 24%);
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--primer-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(218deg 34.72% 13.7% / 84.5%);
}

.content {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 20px 0 35px;
  gap: 20px;
  max-width: 100%;
  overflow: hidden;
  max-height: 80vh;
  overflow: auto;
}

.adviceId span {
  font-weight: 400;
  color: var(--second-color);
  letter-spacing: 5px;
}

.theAdvice {
  padding: 0 40px;
  max-height: 80vh;
  overflow: auto;
}

.content p {
  font-weight: 800;
  font-size: 28px;
  max-width: 300px;
  word-wrap: break-word;
  color: hsl(193, 38%, 86%);
  text-align: center;
  letter-spacing: 1.2px;
}

.patternDivider {
  max-width: 90%;
  display: grid;
  justify-content: center;
  overflow: hidden;
}

.diceBtn {
  border: none;
  display: flex;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--second-color);
  position: absolute;
  bottom: -20px;
  cursor: pointer;
  transition: box-shadow 0.2s;
  user-select: none;
  outline: none;
}

.diceBtn:hover {
  box-shadow: 0px 0px 10px 8px hsl(150, 100%, 66%, 0.35);
}
